
.banner-area img {
    max-width: 100%;
    position: relative;
}
.banner-area h4 {
    position: absolute;
    top: 20px;
    left: 40px;
    color: #E2E2E2;
}

.banner-area {
    background: #1EAFC2;
    margin-right: 7.5px !important;
    margin-bottom: 50px;
}